<app-header></app-header>
<div class="container">
    <div class="row m-4 justify-content-center">
        <div class="col-3">
            <app-card [card]="successCard"></app-card>
        </div>
        <div class="col-3">
            <app-card [card]="primaryCard"></app-card>
        </div>
        <div class="col-3">
            <app-card [card]="warningCard"></app-card>
        </div>
        <div class="col-3">
            <app-card [card]="dangerCard"></app-card>
        </div>
    </div>
    <app-table></app-table>
</div>